.banner-container {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.banner-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

/* Style for each card */
.product-card {
  width: calc(
    33.33% - 10px
  ); /* 33.33% width for each card with a small margin between cards */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.product-card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

.product-card-sort-filter-container {
  width: 70px;
  height: 30px;
  border: 1px solid #d2cfcf;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  cursor: pointer;
}

.product-card-sort-container {
  width: fit-content;
  border-radius: 10px;
  display: inline-block;
}

.product-card-sort-container select {
  width: 185px;
  height: 30px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
}

.product-card-sort-filter-container.active {
  background-color: #f0c040; /* Example color for active state */
  color: white;
  font-weight: bold;
}

.no-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Take up most of the height */
  text-align: center;
  background-color: #f9f9f9;
}

.no-products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-products-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.no-products-message {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.no-products-submessage {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
