
.cart-view-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    padding: 15px;
    background-color: #FFEDED;
    margin: 0;
    index: 887;
}

.Header-text{
    font-size: 20px;
    font-weight: 600;
}

.button{
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;

    & .backIcon {
        font-size: 20px;
    }
}
