/* .flip-card {
  perspective: 800px;
  width: 300px;
  background-color: blue;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.flip-card-inner {
  /* min-width: 300px; */
  height: 180px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  /* width: 85%; */
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #fecd04;
  color: black;
}

.flip-card-back {
  background-color: #fff;
  border: 2px solid #fecd04;
  color: black;
  transform: rotateY(180deg);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .col-md-3,
  .col-lg-3,
  .col-sm-6 {
    flex: 0 0 33.33%;
    /* max-width: 33.33%; */
    margin-bottom: 20px;
  }
}

/* :root {
  --front-color-1: #fecd04;
  --back-color-1: #fff;

  --front-color-2: #ff5733;
  --back-color-2: #c70039;

}

.flip-card-front {
  background-color: var(--front-color);
  color: black;
}

.flip-card-back {
  background-color: var(--back-color);
  color: black;
} */
