.mob-search-location-manually-component {
  width: 100%;
  height: 40px;
  background-color: #d42029;
  display: flex;
 
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 8px;
}
.mob-search-location-manually-component-enable {
  width: 95px;
  height: 25px;
  border: 1px solid #d42029;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #d42029;
  display: flex;
  cursor: pointer;
}
.mob-search-location-manually-component-saved-location-container {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(226, 223, 223);
  border-bottom: 1px solid rgb(226, 223, 223);
}

.mob-search-location-manually-component-backbutton-header{
  padding-top: 2px;
}
