.doorstep {
  margin-top: -100px;
}

.doorstepimg {
  max-width: 100%;
  height: auto;
}

.minimumorder {
  margin-top: -20px;
}

.minimumorder-img {
  max-width: 100%;
  height: auto;
}
