.container-top {
  margin-top: 60px;
}

.mob-order-detail-commponent-summary-btn {
  min-width: 120px;
  height: 30px;
  border: 1px solid red;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: 600;
  font-size: 10px;
  margin: 5px;
  white-space: nowrap;
  flex-shrink: 0;
}

.mob-order-detail-commponent-summary-container-rate {
  margin-top: 20px;
}

.mob-order-detail-commponent-summary-rate {
  font-size: 10px;
}
