.registration-component-card-container {
  width: 600px;
  height: 500px;
  background-color: #d41a25 !important;
}
.registration-component-phone-email-text-container {
  padding-left: 105px;
  padding-top: 10px;
}

.registration-component-continue-btn {
  width: 320px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  color: #d41a25;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 105px;
}

.registration--component-login-btn {
  margin-right: 65px;
  width: 160px;
  height: 35px;
  background-color: #fff;
  border-radius: 8px;
  color: #d41a25;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  padding-left: 10px;
  cursor: pointer;
}

.registration-component-gender-container {
  width: 70px;
  min-height: 30px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.registration-component-gender-main-container {
  margin-left: 105px;
  /* justify-content: center; */
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 10px;
}

/* .registration-component-horizontal-scroll-age-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  width: 100%;
  
} */

.registration-component-horizontal-scroll-age-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  width: 55%;
  margin-left: 105px;
}

/* Hide scrollbar */
.registration-component-horizontal-scroll-age-container::-webkit-scrollbar {
  display: none;
}

.registration-component-age-container {
  min-width: 70px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}
