.mob-filter-component-product-cat-heading {
  min-width: 110px;
}

.green-checkbox {
  --bs-custom-control-indicator-checked-color: #198754;
  --bs-custom-control-indicator-checked-bg: #198754;
}

.yellow-checkbox {
  --bs-custom-control-indicator-checked-color: #ffc107;
  --bs-custom-control-indicator-checked-bg: #ffc107;
}

.red-checkbox {
  --bs-custom-control-indicator-checked-color: #dc3545;
  --bs-custom-control-indicator-checked-bg: #dc3545;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  width: 100%;
  color: white;
  font-weight: 600;
  background-color: #dc3545;
  width: 120px;
  height: 40px;
  border-radius: 0;
  align-items: center;
  display: flex;
  transition: ease-in-out 0.5s;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 2px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.mob-browse-category-filter-btn-container {
  min-width: 90px;
  height: 32px;
  border: 1px solid #dc3545;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dc3545;
  font-weight: 600;
  cursor: pointer;
}
